/* Text Base
============================================= */
%text-base {
	color: $black;
	font-family: $primary-font;
	@include typesmooth;
	margin-bottom: 1rem;
	font-weight: 400;
}



/* Headings
============================================= */
%heading-one {
	@extend %text-base;
	font-size: 4.5rem;
	font-weight: 800;
}

%heading-two {
	@extend %text-base;
	font-size: 3.375rem;
}

%heading-three {
	@extend %text-base;
	font-size: 1.75rem;
}

%heading-four {
	@extend %text-base;
	font-size: 1.5rem;
}

%heading-five {
	@extend %text-base;
	font-size: 1.125rem;
}

%heading-six {
	@extend %text-base;
	font-size: 1rem;
}



/* Body
============================================= */
%body {
	@extend %text-base;
	font-size: 1rem;
	line-height: 1.2;
}

%body--large {
	@extend %body;
	font-size: 1.5rem;
}

%body--small {
	@extend %body;
	font-size: 0.875rem;
}

%quote-text {
	@extend %text-base;
}

%link-text {
	@extend %text-base;
}



/* Nav
============================================= */
%nav-link {
	@extend %text-base;
}

%breadcrumb {
	@extend %text-base;
	font-size: 0.875rem;
}



/* Base Styles
============================================= */
h1 {
	@extend %heading-one;
}

h2 {
	@extend %heading-two;
}

h3 {
	@extend %heading-three;
}

h4 {
	@extend %heading-four;
}

h5 {
	@extend %heading-five;
}

h6 {
	@extend %heading-six;
}

p {
	@extend %body;
}

a {
	@extend %link-text;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

button {
	@extend %link-text;
}



/* Classes
============================================= */
.heading-one {
	@extend %heading-one;
}

.heading-two {
	@extend %heading-two;
}

.heading-three {
	@extend %heading-three;
}

.heading-four {
	@extend %heading-four;
}

.heading-five {
	@extend %heading-five;
}

.heading-six {
	@extend %heading-six;
}

.large-text {
	@extend %body--large;
}

.small-text {
	@extend %body--small;
}

.quote-text {
	@extend %quote-text;
}

.link-text {
	@extend %link-text;
}

.nav-link {
	@extend %nav-link;
}

.breadcrumbs {
	li, a {
		@extend %breadcrumb;
	}
}

.e-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}