/* 
 *
 * ******* IMPORTANT NOTE ******* 
 *
 * if you want the admin editor font sizes to match the %body-- styles ensure to update the editor-font-sizes in the includes/setup.php
 * --> be VERY careful editing the includes/setup.php file.
============================================= */




/* Text Base
============================================= */
%text-base {
	color: var(--font-color-primary);
	font-family: var(--font-family);
	@include typesmooth;
	margin-bottom: 1rem;
	font-weight: 400;
	text-rendering: geometricPrecision;
}

%title-base {
	color: var(--font-color-titles);
	font-family: var(--font-family-titles);
	@include typesmooth;
	margin-bottom: 1rem;
	font-weight: 400;
	text-rendering: geometricPrecision;
}



/* Headings
============================================= */
%heading-one {
	@extend %title-base;
	font-size: 4.5rem;
	font-weight: 800;
}

%heading-two {
	@extend %title-base;
	font-size: 3.375rem;
}

%heading-three {
	@extend %title-base;
	font-size: 1.75rem;
}

%heading-four {
	@extend %title-base;
	font-size: 1.5rem;
}

%heading-five {
	@extend %title-base;
	font-size: 1.125rem;
}

%heading-six {
	@extend %title-base;
	font-size: 1rem;
}



/* Body
============================================= */
%body {
	@extend %text-base;
	font-size: 1rem;
	line-height: 1.2;
}

%body--huge {
	@extend %body;
	font-size: 1.8125rem;
}

%body--large {
	@extend %body;
	font-size: 1.5rem;
}

%body--medium {
	@extend %body;
	font-size: 1.1875rem;
}

%body--small {
	@extend %body;
	font-size: 0.875rem;
}

%quote-text {
	@extend %text-base;
}

%link-text {
	@extend %text-base;
	color: var(--font-color-links);
}



/* Nav
============================================= */
%nav-link {
	@extend %text-base;
}

%breadcrumb {
	@extend %text-base;
	font-size: 0.875rem;
}



/* Base Styles
============================================= */
// h1 {
// 	@extend %heading-one;
// }

// h2 {
// 	@extend %heading-two;
// }

// h3 {
// 	@extend %heading-three;
// }

// h4 {
// 	@extend %heading-four;
// }

// h5 {
// 	@extend %heading-five;
// }

// h6 {
// 	@extend %heading-six;
// }

p {
	@extend %body;
}

a {
	@extend %link-text;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

button {
	@extend %link-text;
}



/* Classes
============================================= */
.heading-one {
	@extend %heading-one;
}

.heading-two {
	@extend %heading-two;
}

.heading-three {
	@extend %heading-three;
}

.heading-four {
	@extend %heading-four;
}

.heading-five {
	@extend %heading-five;
}

.heading-six {
	@extend %heading-six;
}

.huge-text, .has-huge-font-size {
	@extend %body--huge;
}

.large-text, .has-large-font-size {
	@extend %body--large;
}

.medium-text, .has-medium-font-size {
	@extend %body--medium;
}

.small-text, .has-small-font-size {
	@extend %body--small;
}

.quote-text {
	@extend %quote-text;
}

.link-text {
	@extend %link-text;
}

.nav-link {
	@extend %nav-link;
}

.breadcrumbs {
	li, a {
		@extend %breadcrumb;
	}
}

.e-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}