/* Header
============================================= */
.header {

	padding-top: 1rem;
	padding-bottom: 3rem;



	/* Header 404
	============================================= */
	&--404 {

		@extend .header;

	}



	/* Header Attachment
	============================================= */
	&--attachment {
		
		@extend .header;

	}



	/* Header Category
	============================================= */
	&--category {
		
		@extend .header;

	}



	/* Header Date
	============================================= */
	&--date {
		
		@extend .header;

	}



	/* Header Post
	============================================= */
	&--post {
		
		@extend .header;

		h1 {
			margin-top: 5rem;
		}

	}



	/* Header Search
	============================================= */
	&--search {
		
		@extend .header;

	}
}